secops-workflow.json
{
    "name": "SecOp Demo",
    "nodes": [
      {
        "parameters": {
          "events": [
            "message"
          ]
        },
        "type": "@aotoki/n8n-nodes-line-messaging.lineMessagingTrigger",
        "typeVersion": 1,
        "position": [
          -512,
          -48
        ],
        "id": "7b0d4ae5-f5b7-421e-bd35-16cbacd7fc44",
        "name": "Line Messaging Trigger",
        "webhookId": "5df7f98e-ef0a-48aa-8440-e8fecdd755a6",
        "credentials": {
          "lineMessagingApi": {
            "id": "vcvE2oqzDGrWLOTr",
            "name": "Line Messaging account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -448,
          160
        ],
        "id": "80c0b71a-54d2-4ef0-96f3-8f05b4e50255",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "lU2jfIfhUiMBljwv",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"command\": \"nmap -O -F -oX - 192.168.1.5\",\n  \"flags_explanation\": \"Used -O for OS detection and -F for fast scanning of top 100 ports. Output directed to stdout as XML.\",\n  \"target\": \"192.168.1.5\",\n  \"safety_level\": \"moderate\"\n}",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -144,
          160
        ],
        "id": "2238248f-96f3-478f-bfc5-0abd595f70e2",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are an expert Network Security Automation Engineer. Your task is to translate natural language requests into precise 'nmap' commands for a Linux environment.\n\n### 1. RESPONSE FORMAT (STRICT)\nYou must output a single valid JSON object with the following schema. Do not include markdown formatting (like ```json) or any conversational text.\n\n{\n  \"command\": \"string\", // The full nmap command (must include -oX -)\n  \"flags_explanation\": \"string\", // Explanation of flags used (matches user's language)\n  \"target\": \"string\", // The target IP or Domain\n  \"safety_level\": \"string\" // \"safe\", \"moderate\", or \"aggressive\"\n}\n\n### 2. CRITICAL RULES\n- **Force XML Output:** You MUST ALWAYS include the flag `-oX -` in the command. This forces nmap to output XML to stdout, which is required for the downstream parser.\n- **Safety:**\n    - Default to `-T4` (normal/aggressive timing) unless specified otherwise.\n    - Do NOT use invasive flags (e.g., `--script exploit`, `-T5`) unless explicitly authorized with \"OVERRIDE_SAFETY\".\n    - Avoid interactive flags.\n- **Target Validation:** If the target is missing or invalid, return `{\"error\": \"Invalid target\"}`.\n\n### 3. LANGUAGE HANDLING (IMPORTANT)\n- **Technical Terms:** Keep technical terms in English (e.g., \"Port\", \"Syn Scan\", \"OS Detection\").\n- **Explanation Flow:**\n    - If the user asks in **Thai**: The `flags_explanation` must be in **Thai** (can mix with English technical terms).\n    - If the user asks in **English**: The `flags_explanation` must be in **English**.\n\n### EXAMPLES\n\nUser: \"สแกนพอร์ตเว็บเครื่อง victim-app แบบด่วน\"\nResponse:\n{\n  \"command\": \"nmap -p 80,443,8080 -F -T4 -oX - victim-app\",\n  \"flags_explanation\": \"สแกนพอร์ตเว็บมาตรฐาน (80, 443, 8080) ร่วมกับโหมด Fast scan (-F) และใช้ T4 timing เพื่อความเร็ว พร้อมส่งออกผลลัพธ์เป็น XML\",\n  \"target\": \"victim-app\",\n  \"safety_level\": \"safe\"\n}\n\nUser: \"Full scan on 192.168.1.1\"\nResponse:\n{\n  \"command\": \"nmap -A -p- -T4 -oX - 192.168.1.1\",\n  \"flags_explanation\": \"Performs an aggressive scan (-A) on all ports (-p-) with T4 timing. Output is directed to stdout as XML.\",\n  \"target\": \"192.168.1.1\",\n  \"safety_level\": \"moderate\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -304,
          -48
        ],
        "id": "1850db5b-f932-46b0-ada5-186564f2da3c",
        "name": "AI - Create Nmap Scan Command"
      },
      {
        "parameters": {
          "command": "={{ $json.output.command }}"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          48,
          -48
        ],
        "id": "1d5557e9-7738-46e1-89b7-43d4ed2ef348",
        "name": "nmap scan execute"
      },
      {
        "parameters": {
          "dataPropertyName": "=stdout",
          "options": {}
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          256,
          -48
        ],
        "id": "afd40c55-3932-49fb-bf59-819a185d7df1",
        "name": "XML"
      },
      {
        "parameters": {
          "jsCode": "// ตรวจสอบว่ามีข้อมูลจาก Node ก่อนหน้าไหม\nif (!items[0].json.nmaprun) {\n  return [{ json: { error: \"No nmap data found\", run_nuclei: false } }];\n}\n\nconst nmapRun = items[0].json.nmaprun;\nconst hostData = nmapRun.host;\n\n// --- 1. ดึง IP Address ---\nlet ipAddress = \"Unknown\";\nif (hostData.address) {\n  if (Array.isArray(hostData.address)) {\n     const ipv4 = hostData.address.find(a => a.addrtype === 'ipv4');\n     ipAddress = ipv4 ? ipv4.addr : hostData.address[0].addr;\n  } else {\n     ipAddress = hostData.address.addr;\n  }\n}\n\n// --- 2. ดึง Hostname ---\nlet hostname = \"N/A\";\nif (hostData.hostnames && hostData.hostnames.hostname) {\n    const hn = hostData.hostnames.hostname;\n    if (Array.isArray(hn)) {\n        hostname = hn[0].name;\n    } else {\n        hostname = hn.name;\n    }\n}\n\n// --- 3. ดึง Ports และ Open Ports ---\nlet openPorts = [];\nif (hostData.ports && hostData.ports.port) {\n    const portsRaw = hostData.ports.port;\n    const portsArray = Array.isArray(portsRaw) ? portsRaw : [portsRaw];\n\n    openPorts = portsArray\n      .filter(p => p.state && p.state.state === 'open')\n      .map(p => {\n        return {\n          port: p.portid,\n          protocol: p.protocol,\n          service: p.service ? p.service.name : \"unknown\",\n          reason: p.state.reason\n        };\n      });\n}\n\n// --- 4. เตรียมข้อมูลสำหรับ Nuclei (จุดสำคัญที่แก้ไข) ---\nlet runNuclei = false;\nlet nucleiTargetsString = \"\";\n\nif (openPorts.length > 0) {\n    runNuclei = true;\n\n    // สร้าง Target List โดยเติม http:// หรือ https://\n    const targetList = openPorts.map(p => {\n        // Logic ง่ายๆ: ถ้าพอร์ต 443 หรือ service ชื่อ https ให้ใช้ https, นอกนั้น http\n        let scheme = 'http';\n        if (p.port === '443' || (p.service && p.service.includes('https'))) {\n            scheme = 'https';\n        }\n        // Return เป็น URL เต็มยศ เช่น http://172.18.0.3:80\n        return `${scheme}://${ipAddress}:${p.port}`;\n    });\n\n    nucleiTargetsString = targetList.join(\",\");\n}\n\n// --- Return ผลลัพธ์ ---\nreturn [{\n  json: {\n    target_ip: ipAddress,\n    hostname: hostname,\n    scan_time: nmapRun.startstr,\n    total_open_ports: openPorts.length,\n    open_ports_details: openPorts,\n    run_nuclei: runNuclei,\n    nuclei_targets: nucleiTargetsString // ค่านี้จะเป็น http://... แล้ว\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          -48
        ],
        "id": "f8667389-c119-4202-847d-5b6e32c1be1c",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "127a8af9-3b28-48de-b369-674f0ea081a0",
                "leftValue": "={{ $json.run_nuclei }}",
                "rightValue": "=true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          672,
          -48
        ],
        "id": "5722860d-8385-4b41-bf51-e30418607732",
        "name": "If"
      },
      {
        "parameters": {
          "command": "=nuclei -u {{ $json.nuclei_targets }} -silent -disable-update-check -j -tags exposure -nc -no-stdin"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          880,
          -144
        ],
        "id": "0cae66ba-715e-4015-9025-33e18a51717e",
        "name": "Execute Command"
      },
      {
        "parameters": {
          "jsCode": "// ดึงข้อมูล stdout\nconst stdout = items[0].json.stdout || \"\";\n\nif (!stdout || stdout.trim() === \"\") {\n    return [{ json: { status: \"Clean\", total_findings: 0, message: \"✅ System Secure: No vulnerabilities found.\" } }];\n}\n\n// แกะข้อมูล NDJSON\nconst findings = stdout.trim().split('\\n').map(line => {\n    try {\n        const parsed = JSON.parse(line);\n        const info = parsed.info || {};\n        const classification = info.classification || {};\n\n        return {\n            name: info.name,\n            severity: info.severity.toUpperCase(), // ทำตัวพิมพ์ใหญ่ให้ดูขลัง\n            cve_id: classification['cve-id'] ? classification['cve-id'].join(', ') : 'N/A', // ดึง CVE\n            cvss_score: classification['cvss-score'] || 'N/A', // ดึงคะแนน CVSS\n            description: info.description || \"No description provided.\",\n            reference: info.reference ? info.reference[0] : null, // ลิงก์อ้างอิงแหล่งข้อมูล\n            matched_at: parsed['matched-at'],\n            timestamp: parsed.timestamp\n        };\n    } catch (e) { return null; }\n}).filter(i => i !== null);\n\n// คัดเฉพาะ High/Critical มาทำ Report เพื่อไม่ให้รก\nconst criticalFindings = findings.filter(f => ['HIGH', 'CRITICAL'].includes(f.severity));\n\nreturn [{\n    json: {\n        summary: {\n            target: findings[0] ? findings[0].matched_at.split('/')[2] : \"Unknown\", // ดึง Domain/IP\n            scan_date: new Date().toLocaleString('th-TH'),\n            total_issues: findings.length,\n            critical_count: criticalFindings.length\n        },\n        // ส่ง Array นี้ไปทำ Line Flex Message\n        findings: criticalFindings.length > 0 ? criticalFindings : findings.slice(0, 5) // ถ้าไม่มี High ให้เอา 5 อันแรก\n    }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          -144
        ],
        "id": "2a37ef4e-711b-42a4-b469-ba294d083a8f",
        "name": "Clean & Parse Nuclei NDJSON"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1232,
          128
        ],
        "id": "fc227302-b4a5-4968-bb98-d1d49c6a81ea",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "lU2jfIfhUiMBljwv",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "to": "={{ $('Line Messaging Trigger').item.json.source.userId }}",
          "messages": {
            "values": [
              {
                "text": "={{ $json.output }}"
              }
            ]
          }
        },
        "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
        "typeVersion": 1,
        "position": [
          1648,
          -144
        ],
        "id": "54a6491d-e7db-4bab-abd8-b7a33ab07bec",
        "name": "Line Messaging",
        "credentials": {
          "lineMessagingApi": {
            "id": "vcvE2oqzDGrWLOTr",
            "name": "Line Messaging account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Here is the scan result data:\n{{ JSON.stringify($json) }}\n\nPlease generate the LINE report based on this data.",
          "options": {
            "systemMessage": "=You are an expert Cyber Security Analyst and Incident Reporter. Your task is to summarize vulnerability scan results into a professional \"Security Incident Report\" suitable for sending via LINE Messenger to an IT Executive or DevSecOps team.\n\n### INPUT DATA:\nYou will receive a JSON object containing scan results, target details, and a list of vulnerabilities (findings).\n\n### WRITING RULES:\n1.  **Language:** Use professional **Thai** (ภาษาไทยทางการ) mixed with standard English technical terms (e.g., Vulnerability, CVE, Severity, Patch).\n2.  **Tone:**\n    -   If `high_risk_count` > 0: **Urgent, Serious, and Action-Oriented.** Use 🚨 emojis.\n    -   If `status` is \"Clean\": **Calm, Reassuring, and Informative.** Use ✅ emojis.\n3.  **Structure (Strictly follow this layout):**\n    -   **Header:** 🚨 [SEVERITY LEVEL] Security Alert (or ✅ Scan Completed)\n    -   **Target Info:** Target URL/IP and Time.\n    -   **Executive Summary:** A 1-sentence summary of the situation.\n    -   **Critical Findings:** List ONLY the High/Critical issues (Top 3 max). Format: \"• [Severity] Name (CVE-ID)\"\n    -   **Remediation:** Brief 1-2 bullet points on how to fix generally (based on the findings).\n    -   **Footer:** \"Reported by SecOps AI Agent\"\n\n4.  **Formatting:**\n    -   Use concise bullet points.\n    -   Do NOT generate long paragraphs. Line messages must be easy to read on mobile.\n    -   Include the CVSS Score if available.\n\n### EXAMPLE OUTPUT (High Risk):\n🚨 **CRITICAL SECURITY ALERT**\nพบช่องโหว่ที่มีความเสี่ยงสูงในระบบ\n\n🎯 **Target:** 172.18.0.3\n🕒 **Time:** 10 Dec 2025, 10:45\n\n**📊 สรุปสถานการณ์:**\nจากการสแกนพบช่องโหว่ระดับ High/Critical จำนวน 3 รายการ ซึ่งอาจส่งผลให้ข้อมูลสำคัญรั่วไหล (Data Leakage) จำเป็นต้องได้รับการแก้ไขทันที\n\n**🔥 ประเด็นสำคัญ (Top Issues):**\n• [HIGH] Laravel .env Disclosure (CVE-N/A) - CVSS: 8.3\n  *ข้อมูล Credential Database รั่วไหลสู่สาธารณะ*\n• [HIGH] Generic Env File Disclosure\n\n**🛡️ คำแนะนำเบื้องต้น:**\n1. ปิดการเข้าถึงไฟล์ .env จากภายนอกทันที (Deny access in Nginx/Apache).\n2. เปลี่ยน Password ของ Database และ API Keys ทั้งหมดที่หลุดออกไป\n\n--------------------------------\n🤖 *Reported by SecOps AI Agent*"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          1296,
          -144
        ],
        "id": "d3ec2dab-0df7-44ab-88df-cfca5b9c31b5",
        "name": "AI - Generate Report"
      }
    ],
    "pinData": {},
    "connections": {
      "Line Messaging Trigger": {
        "main": [
          [
            {
              "node": "AI - Create Nmap Scan Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI - Create Nmap Scan Command",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI - Create Nmap Scan Command",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI - Create Nmap Scan Command": {
        "main": [
          [
            {
              "node": "nmap scan execute",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "nmap scan execute": {
        "main": [
          [
            {
              "node": "XML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "Clean & Parse Nuclei NDJSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clean & Parse Nuclei NDJSON": {
        "main": [
          [
            {
              "node": "AI - Generate Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI - Generate Report",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI - Generate Report": {
        "main": [
          [
            {
              "node": "Line Messaging",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "e5dc6a4a-e872-4a1f-8678-5df94a91ff98",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "67192713e63193f80256928296f42f4711e36ea94646f83648dba74dc5ac6c09"
    },
    "id": "207OMWeOrRt8tXTV",
    "tags": []
  }